%%% -*- erlang -*-
[{config,
  [#{ files => ["src/*.erl", "test/*.erl"],
      ruleset => erl_files,
      ignore => [ 'CMS' , 'PKIX1Explicit88', 'PKIX1-PSS-OAEP-Algorithms' ],
      rules =>
	  [ {elvis_text_style, no_tabs, disable},
	    {elvis_style, atom_naming_convention, disable},
	    {elvis_style, macro_naming_convention, disable},
	    {elvis_style, dont_repeat_yourself, #{ min_complexity => 19 }},
	    {elvis_style, no_receive_without_timeout, #{ ignore => [ecms_SUITE] }},
	    {elvis_style, no_deep_nesting, #{ level => 5 }}
	  ]}
  ]}].
