%% -*- erlang -*-
{minimum_otp_vsn, "27.0"}.

{erl_opts, [debug_info]}.
{deps, [rfc3394]}.

{plugins, [{provider_asn1,
	    {git, "https://github.com/knusbaum/provider_asn1",
	     {tag, "0.4.1"}}}]}.

{provider_hooks, [{pre, [{compile, {asn, compile}}]},
		  {post, [{clean, {asn, clean}}]}]}.

{asn1_args, [{encoding, der},
	     {compile_order, [{file, "CMS.set.asn1"},
			      {file, "PKIX1-PSS-OAEP-Algorithms.asn1"},
			      {file, "PKIX1Explicit88.asn1"}
			      ]},
	     {compile_opts, [der, warnings_as_errors, maps]}
	     ]}.

{project_plugins, [rebar3_lint, rebar3_ex_doc, rebar3_hex]}.

{xref_checks, [undefined_function_calls, undefined_functions,
               locals_not_used]}.

{cover_enabled, true}.
{cover_opts, [verbose]}.
{cover_excl_mods, ['CMS', 'PKIX1Explicit88', 'PKIX1-PSS-OAEP-Algorithms']}.

{ex_doc, [{main, "README.md"},
	  {extras, ["README.md", "LICENSE.md", "CHANGELOG.md"]},
	  {source_url, "https://github.com/sg2342/ecms"},
	  {homepage_url, "https://github.com/sg2342/ecms"},
	  {prefix_ref_vsn_with_v, false}]}.

{hex, [{doc, ex_doc}]}.

{alias, [{check, [lint, dialyzer, xref, ct, cover]}]}.
