%% -*- erlang -*-
{minimum_otp_vsn, "27.0"}.

{erl_opts, [debug_info]}.
{deps, []}.

{plugins, [{provider_asn1,
	    {git, "https://github.com/knusbaum/provider_asn1",
	     {tag, "0.4.1"}}}]}.

{provider_hooks, [{pre, [{compile, {asn, compile}}]},
		  {post, [{clean, {asn, clean}}]}]}.

{asn1_args, [{encoding, der},
	     {compile_order, [{file, "PKIX1Explicit88.asn1"},
			      {file, "CMS.set.asn1"}]},
	     {compile_opts, [der, warnings_as_errors, maps]}
	     ]}.

{project_plugins, [rebar3_lint]}.

{xref_checks, [undefined_function_calls, undefined_functions,
               locals_not_used, deprecated_function_calls,
	       deprecated_functions]}.

{cover_enabled, true}.
{cover_opts, [verbose]}.
{cover_excl_mods, ['CMS', 'PKIX1Explicit88']}.
